.App {
  text-align: center;
}

.lightBody {
  background-color: white;
  color: black
}

.darkBody {
  background-color: black;
  color: white
}

.lightHeader {
  background-color: white;
  color: black
}

.darkHeader {
  background-color: black;
  color: white
}


.socialMedia {
  display: flex;
  justify-content: center;
}

.socialMediaIcon {
  padding: 15px;
}